.crazy {
  display: inline-flex;
  flex-direction: column;
  font-size: 14px;
  gap: 0.5rem;
  line-height: 1rem;
}

.crazy-label {
  font-weight: 700;
  letter-spacing: -0.01em;
}

.crazy-box {
  border: 1px solid #bbb;
  border-radius: 6px;
  cursor: pointer;
  padding: 12px;
}

.crazy-box:active {
  border-color: red;
}

.crazy-box:not([disabled]):focus {
  outline-color: blue;
}

.crazy-box:not([disabled]):hover {
  background: green;
}

[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
  outline: unset;
}

.crazy-message {
  color: red;
}
